@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* font */
@font-face {
  font-family: "Satoshi";
  src: url(./assets/fonts/satoshi/Satoshi-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url(./assets/fonts/satoshi/Satoshi-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url(./assets/fonts/satoshi/Satoshi-Medium.woff2);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url(./assets/fonts/satoshi/Satoshi-MediumItalic.woff2);
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url(./assets/fonts/satoshi/Satoshi-Regular.woff2);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url(./assets/fonts/satoshi/Satoshi-Italic.woff2);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-main: 'Satoshi', sans-serif;
  --shadow-note: 0px 7px 29px 0px rgba(0, 0, 0, 0.05);
  --shadow-note-dark: 0px 7px 29px 0px rgba(240, 237, 237, 0.08);
}

body {
  -webkit-font-smoothing: antialiased;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

button {
  cursor: pointer;
  font-weight: 500;
}

.fade {
  animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hide-show {
  animation: fade 0.4s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 1;
  }
}